.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html body {
  background-color: black;
  color: white;
}
.infi-bg-dark{
  background-color: #0A0A0A;
}
.infi-bg-gray{
  background-color: #151B23;
}
.infi-border{
  border: solid 1px #3D444D;
}
.h-full {
  height: 100vh;
}

.h-70 {
  height: 70vh;
}

.h-min-100 {
  min-height: 100vh;
}

.h-max-100 {
  max-height: 200vh;
}

.logo {
  height: 78px;
}

.h-custom {
  height: 55px;
}

.icon-size {
  height: 31px;
}

.feat-h {
  height: 30%;
}

.feat-img-h {

  height: 10rem;
}

.footer-img {
  width: 100%;
  transform: scaleX(-1);
  opacity: 0.8;
  right: 0;
  bottom: 0;
}

.footer-img-1 {
  width: 40%;
  transform: scaleX(-1);
  opacity: 0.8;
  left: 0;
  bottom: 0;
}

.img-not-found {
  width: 90%;
  margin: auto;
}

.w-md-50 {
  width: 100%;
}

.w-md-75 {
  width: 100%;
}

.w-lg-50 {
  width: 100%;
}

.h-md-75 {
  height: 100%;
}
.h-sm-75{ height: 100%;}

.w-md-25 {
  width: 100%;
}

.input-cus {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px white;
  color: #d9d9d9;
}

.input-layout {
  min-height: 5rem;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #3D444D;
  color: #d9d9d9;
}

.label-cus {
  top: -1rem;
  left: 0.5rem;
  padding: 0 0.5rem;
  font-weight: 600;
}

.label1-cus {
  top: -2rem;
  left: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.button-gradient {
  background: linear-gradient(180deg, gray, black);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-gradient:hover {
  background: linear-gradient(45deg, gray, black, gray);
}
.text-reponsive{font-size: medium;}
@media (min-width: 576px) { /* sm */
  .h-custom { height: 60px;}
  .icon-size{ height: 36px;}
  .feat-h{ height: 34%;}
  .feat-img-h{ height: 12rem;}
  .footer-img{ width: 80%;}
  .img-not-found{ width: 70%;}
  .w-md-75{ width: 100%;}
  .h-sm-75{ height: 75%;}
  .w-lg-50{ width: 100%;}
  .h-md-75{ height: 100%;}
  .w-md-25{width: 100%;}
  .text-reponsive{font-size: medium;}
}


@media (min-width: 768px) { /* md */
  .h-custom { height: 65px;}
  .icon-size{ height: 41px;}
  .feat-h{ height: 50%;}
  .feat-img-h{height: 16rem;}
  .footer-img{ width: 80%;}
  .img-not-found{ width: 90%;}
  .w-md-50{ width: 50%;}
  .w-md-75{ width: 70%;}
  .w-lg-50{ width: 100%;}
  .h-md-75{ height: 75%;}
  .h-sm-75{ height: 75%;}
  .w-md-25{width: 25%;}
  .text-reponsive{font-size: medium;}
}

@media (min-width: 992px) { /* lg */
  .h-custom { height: 70px; }
  .icon-size{ height: 46px; }
  .feat-h{ height: 60%; }
  .feat-img-h{ height: 20rem; }
  .footer-img{ width: 70%; }
  .footer-img-1{ width: 20%; }
  .img-not-found{ width: 50%; }
  .w-md-50{ width: 50%; }
  .w-md-75{ width: 70%; }
  .w-lg-50{ width: 50%; }
  .h-md-75{ height: 75%; }
  .h-sm-75{ height: 75%;}
  .w-md-25{width: 25%;}
  .text-reponsive{font-size: medium;}
}

@media (min-width: 1200px) { /* xl */
  .h-custom { height: 78px; }
  .icon-size { height: 54px; }
  .feat-h{ height: 70%; }
  .feat-img-h{ height: 22rem; }
  .footer-img{ width: 45%; opacity: 0.3; left: 50%; }
  .footer-img-1{ width: 28%; }
  .img-not-found{ width: 50%; opacity: 0.7; }
  .w-md-50{ width: 50%; }
  .w-md-75{ width: 70%; }
  .w-lg-50{ width: 50%; }
  .h-md-75{ height: 75%; }
  .h-sm-75{ height: 75%;}
  .w-md-25{width: 25%;}
  .text-reponsive{font-size: large;}
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.LanguageSwitcher{
  width: 6rem;
  color: gray;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.LanguageSwitcher:hover{
  color: white;
  background-color: #262C36;
}
.underline-none{
  text-decoration: none;
}
.link-underline {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: gray;
  transition: color 0.3s ease;
}

.link-underline:hover {
  color: white;
}

.button-cus-1 {
  background-color: #787f9930;
  transition: background-color 0.3s ease;
}

.button-cus-1:hover {
  background-color: #787F99;
}

.component-color-1 {
  background: linear-gradient(135deg, #FF9A62, #FDBE9B 50%);
  color: black;
}

.component-color-2 {
  background: linear-gradient(135deg, #FEDE67, #FEEFBA 50%);
  color: black;
}

.component-color-3 {
  background: linear-gradient(135deg, #B6F36A, #DCFFB0 50%);
  color: black;
}

.bg-primary-cus {
  background-color: #333645;
}

.sidebar {
  border-right: 2px solid white;
  height: 100%;
}

footer {
  .footer {
    background-color: #343a40; /* Màu nền tối */
    color: white;
}

@media (max-width: 576px) { /* Mobile */
    .footer {
        height: 100vh; /* 100% chiều cao màn hình */
    }
}

@media (min-width: 577px) and (max-width: 768px) { /* Tablet */
    .footer {
        height: 70vh; /* 70% chiều cao màn hình */
    }
}

@media (min-width: 769px) { /* Desktop */
    .footer {
        height: 50vh; /* 50% chiều cao màn hình */
    }
}

/* Ẩn cột đầu tiên và cột thứ ba trên mobile và tablet */
@media (max-width: 768px) {
    .footer .col-md-3 {
        display: none; /* Ẩn cột đầu tiên */
    }

    .footer .col-md-4 {
        display: none; /* Ẩn cột thứ ba */
    }

    /* Căn giữa các cột còn lại */
    .footer .row {
        justify-content: center; /* Căn giữa */
    }
}
}

.text-bold {
  font-weight: 700;
}

.mr-2 {
  margin-right: 0.8rem;
}
.border-t-1 {
  border-top: #3D444D solid 1px;
}
.border-b-1 {
  border-bottom: #3D444D solid 1px;
}
.border-b-2 {
  border-bottom: #3D444D solid 2px;
}
.message-error {
  animation: shake 0.5s ease forwards;
  /* Thêm hiệu ứng rung trong 0.5 giây */
  animation-delay: 0s;
  /* Không cần delay cho hiệu ứng rung */
}

.fade-out {
  animation: fadeOut 3s forwards;
  /* Thời gian fadeOut là 3 giây */
  animation-delay: 2s;
  /* Đợi 2 giây trước khi bắt đầu fadeOut */
}

@keyframes shake {
  0% {
    transform: translate(1px, 0);
  }

  25% {
    transform: translate(-1px, 0);
  }

  50% {
    transform: translate(1px, 0);
  }

  75% {
    transform: translate(-1px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    /* Bắt đầu với độ mờ hoàn toàn */
  }

  100% {
    opacity: 0;
    /* Kết thúc với độ mờ hoàn toàn */
  }
}