
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
html body{
  background-color: black;
  color: white;
}

.logo{
  height: 78px;
}

.h-custom {
  height: 55px;
}

.icon-size{
  height: 31px;
}

.feat-h{
  height: 30%;
}
.feat-img-h{

  height: 10rem;
}

@media (min-width: 576px) { /* sm */
  .h-custom {
    height: 60px;
  }
  .icon-size{
    height: 36px;
  }
  .feat-h{
    height: 34%;
  }
  .feat-img-h{
   
    height: 12rem;
  }
}

@media (min-width: 768px) { /* md */
  .h-custom {
    height: 65px;
  }
  .icon-size{
    height: 41px;
  }
  .feat-h{
    height: 50%;
  }
  .feat-img-h{
   
    height: 16rem;
  }
}

@media (min-width: 992px) { /* lg */
  .h-custom {
    height: 70px;
  }
  .icon-size{
    height: 46px;
  }
  .feat-h{
    height: 60%;
  }
  .feat-img-h{
   
    height: 20rem;
  }
}

@media (min-width: 1200px) { /* xl */
  .h-custom {
    height: 78px;
  }
  .icon-size {
    height: 54px;
  }
  .feat-h{
    height: 70%;
  }
  .feat-img-h{
    
    height: 22rem;
  }
}

.link-underline {
  text-decoration: none;
  color: gray; 
  border-bottom: 2px solid transparent; 
  transition: border-color 0.3s ease; 
}

.link-underline:hover {
  border-color: gray;
}

.component-color-1 {
  background: linear-gradient(135deg, #FF9A62, #FDBE9B 50%);
  color: black;
}

.component-color-2 {
  background: linear-gradient(135deg, #FEDE67, #FEEFBA 50%);
  color: black;
}

.component-color-3 {
  background: linear-gradient(135deg, #B6F36A, #DCFFB0 50%);
  color: black;
}