
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
html body{
  background-color: black;
  color: white;
}

.logo{
  height: 78px;
}

.h-custom {
  height: 55px;
}

.icon-size{
  height: 31px;
}

@media (min-width: 576px) { /* sm */
  .h-custom {
    height: 60px;
  }
  .icon-size{
    height: 36px;
  }
}

@media (min-width: 768px) { /* md */
  .h-custom {
    height: 65px;
  }
  .icon-size{
    height: 41px;
  }
}

@media (min-width: 992px) { /* lg */
  .h-custom {
    height: 70px;
  }
  .icon-size{
    height: 46px;
  }
}

@media (min-width: 1200px) { /* xl */
  .h-custom {
    height: 78px;
  }
  .icon-size {
    height: 54px;
  }
}

.link-underline {
  text-decoration: none;
  color: gray; 
  border-bottom: 2px solid transparent; 
  transition: border-color 0.3s ease; 
}

.link-underline:hover {
  border-color: gray;
}

